body {
  --page-fg-color: #00000099;
  --page-bg-color: #fff;
  --text-color-darker: #464646;
  --text-color-normal: #5f5f5f;
  --text-color-lighter-1: #999999;
  --text-color-lighter-2: #3d3c3c;
  --text-color-error: #e53935;
  --bg-color-darker-2: #DDDDDDAA;
  --bg-color-darker-1: #5c9ae2aa;
  --bg-color-darker-1-soild: #f4f4f4;
  --bg-color-normal: #FFFFFFAA;
  --bg-color-lighter: #f6f6f6;
  --bg-color-contrast: var(--page-bg-color);
  --border-color-darker-3: #5a5a5a;
  --border-color-darker-2: #666666;
  --border-color-darker-1: #d6d6d6;
  --border-color-normal: #f7f7f9;
  --border-color-lighter: #f2f2f2;
  --link-color: #0a163c;
  --link-hover-color: #4493fb;
  --link-markdown-color: #3a6fb5d7;
  --navigation-bg-color: rgba(121, 157, 214, 0.863);
  --sidebar-author-color: #151946;
  --sidebar-desc-color: #1f2e4f;
  --sidebar-hover-color: var(--link-hover-color);
  --sidebar-logo-shadow-color: rgba(0, 0, 0, 0.3);
  --pagination-bg-color: #f5f5f5;
  --pagination-hover-color: #4786d6;
  --pagination-bg-hover-color: #F7FAFC;
  --markdown-pre-bg-color: #f0f0f0;
  --markdown-pre-lang-color: #aaaaaa;
  --markdown-table-bg-color: #f9f9f9;
  --markdown-link-card-bg-color: #EEEEEE54;
  --markdown-link-card-bg-color-hover: #EEEEEEAA;
  --markdown-code-color-default: rgb(36, 83, 154);
  --gitalk-bg-hover-color: var(--bg-color-lighter);
}

body.night-mode {
  --page-fg-color: #FFFFFFbb;
  --page-bg-color: #212121;
  --text-color-darker: #b9b9b9;
  --text-color-normal: #a0a0a0;
  --text-color-lighter-1: #888888;
  --text-color-lighter-2: #707070;
  --text-color-error: #ff4336;
  --bg-color-darker-2: #6f6f6faa;
  --bg-color-darker-1: #111111AA;
  --bg-color-darker-1-solid: #1b1b1b73;
  --bg-color-normal: #212121AA;
  --bg-color-lighter: #333333AA;
  --bg-color-contrast: #13283461;
  --border-color-darker-3: #a5a5a5;
  --border-color-darker-2: #999999;
  --border-color-darker-1: #5e5e5e;
  --border-color-normal: #414141;
  --border-color-lighter: #444444;
  --link-color: #a5a5a5;
  --link-markdown-color: #3b90ff;
  --link-hover-color: #5ca3ff;
  --navigation-bg-color: #212121df;
  --navigation-hover-color: white;
  --sidebar-author-color: #bdbdbd;
  --sidebar-desc-color: #a9a9ab;
  --sidebar-hover-color: white;
  --sidebar-logo-shadow-color: rgba(255, 255, 255, 0.3);
  --pagination-bg-color: #0a0a0a;
  --pagination-hover-color: #fff;
  --pagination-bg-hover-color: #4786d6;
  --markdown-pre-bg-color: #24303d4c;
  --markdown-pre-lang-color: #999;
  --markdown-table-bg-color: #ffffff11;
  --markdown-link-card-bg-color: #61616154;
  --markdown-link-card-bg-color-hover: #616161AA;
  --markdown-code-color-default: #477ca6;
  --gitalk-bg-hover-color: #333333;
}